# ignored files

# autotools files
INSTALL
Makefile
Makefile.am
Makefile.in
aclocal.m4
m4/
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libmae.pc
libmae.pc.in
libmae_demo.pc
libmae_demo.pc.in
libmae_eventing.pc
libmae_eventing.pc.in
libmae_nite.pc
libmae_nite.pc.in
libtool
ltmain.sh
missing
.libs/
.deps/
.dirstamp
*.pc

#object files
*.o
*.lo
*.la
*.dylib
*.so
*.so.[0-9]*
*.a
!*.dll.a
*.jar

# Release folders
Release
Release-W64/
Release-W64-static/
Release-W32/
Debug/
include/mae/
doxygen/
build/

#cmake
cmake-build-debug/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
*.cbp
!*ConfigVersion.cmake
*.cmake
!Find*.cmake
Makefile
*.dylib
*.pc

#swig
*.jnilib
*.jnilib.[0-9]*

#ide
.idea
.project
.settings/
.cproject
.directory
.gradle/
gradle/
out/
gradlew.bat
gradlew
*.iml
.classpath

